/* req1.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .reqCard {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    /* max-width: 800px; */
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .tableHeader {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .projectHeading {
    text-align: left;
  }
  
  .projectData {
    border: 1px solid #ddd;
  }
  
  .projectData td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  /* .projectTitle {
    text-align: left;
    display: flex;
    align-items: center;
  } */
  
  .projectTitle img {
    margin-right: 8px;
    max-width: 24px;
    max-height: 24px;
  }

  button.req-page2-btn {
    margin-left: 2rem;
}

button.request-page-btn{
  background-color: #F04C43;
    border: none;
    width: 80px;
    color: white;
    margin-top: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 7px 10px rgba(66, 65, 65, 0.1);
    margin-left: 2rem;
}


  /* Add any additional styles as needed */
  