.main{
    width: 60%;
    height: auto;
    background-color: aliceblue;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 300px;
    display: flex;
    border: 2px solid orangered;
    border-radius: 19px;
    background: #FFF;
    box-shadow: 3px 6px 7.6px 2px rgba(0, 0, 0, 0.25);
}

.main > div{
    width: 50%;
}


#left > img{
    height: 90%;
    float: inline-end;
    position: relative;
    right: -80px;
    top: 30px;
}
#right{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
    width: 50%;
}
#right > h2{
    color: #000;

text-align: center;
font-family: Noto Looped Thai;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
#signUpText{
    color: #000;
cursor: pointer;
text-align: center;
font-family: Noto Looped Thai;
font-size: 15px;
font-style: normal; 
font-weight: 500;
line-height: normal;
}
#right > p:hover{
    text-decoration: underline;
}
.loginOptions {
    display: flex;
    width: 319px;
height: auto;
align-items: center;
justify-content: center;
padding: 4px;
margin-top: 30px;
border-radius: 5px;
border: 1px solid #DED5D5;
flex-shrink: 0;
}
.mloginOptions {
    display: flex;
    width: 44%;
    margin-right: 20px;
height: auto;
align-items: center;
justify-content: space-around;
padding: 4px;
margin-top: 10px;
border-radius: 5px;
border: 1px solid #DED5D5;
flex-shrink: 0;
}

.loginOptions > svg{
    margin-right: 20px;
}



#contryCode{
    width: fit-content;
    padding: 0;
}

.or{
    color: #9E8F8F;

text-align: center;
font-family: Noto Looped Thai;
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top:20px ;
}

#lastP{
    margin-top: 10px;
    width: 40%;  
    position: absolute;
    bottom: 7px;
    margin-left: 50px;
    font-size: 12px;
    font-family: 'Noto Looped Thai';

    
}




.loginOptions:hover{
    background-color: #f1efef;
    cursor: pointer;
    border: 2px solid rgb(201, 198, 198);
}

.inputField{
    width: 90%;
    height: 30px;
    margin-top: 10px ;
    margin-bottom: 20px ;
}


.inputField > input{
    width: 100%;
    height: 100%;
    border-radius: 3px;
border: 2px solid #DED5D5;
outline: none;
padding: 3px;
}


.fields{

    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginBtn{
    background-color: #F04C43;
    border: none;
    width: 92%;
    color: white;

    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 7px 10px rgba(66, 65, 65, 0.1); /* The values are offsetX, offsetY, blurRadius, and color */
 
}

.loginBtn:hover{
    background-color: #cb251c;

}

.contactField{
    width: 100%;
    height: 30px;
    margin-top: 5px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px ;
}

.phoneField{
    width: 90%;
    height: 30px;
    margin-top: 15px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px ;
}

.phoneField > input{
    width: 90%;
    height: 70%;
    border-radius: 3px;
border: 2px solid #DED5D5;
outline: none;
padding: 3px;
}


.contactField > input{
    width: 90%;
    height: 70%;
    border-radius: 3px;
border: 2px solid #DED5D5;
outline: none;
padding: 3px;
}

#contactInput{
 display: flex;
}
#contactInput > select{
  outline: none;
  border: 2px solid #DED5D5;
    border-radius: 3px;
}



.backBtn{
    border: none;
    width: 30px;
    color:#F04C43;
    height: 28px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid #F04C43;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}

.error{
    height: auto;
    width: auto;
    font-size: 10px;
}

.crossButton{
    position: absolute;
    right: 10px;
    width: 20px;
    top: 10px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 3px 5px rgba(66, 65, 65, 0.1); /* The values are offsetX, offsetY, blurRadius, and color */
    border-radius: 100%;
  }

  .crossButton:hover{
    cursor: pointer;
  }