

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 90%;
    height: 680vh;
    padding: 20px;
    margin: auto;
}


.heading {
    padding: 10px;
    color: #F04C43;
    font-family: Noto looped Thai;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profile {
    display: flex;
    padding: 10px;
    margin-top: 10px;

}

.profileImage {
    border: 2px solid #F04C43;
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

.name {
    color: #000;
    font-family: Noto Looped Thai;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#profiledetails {
    padding-left: 15px;
}

#queueOrders {
    color: #000;
    font-family: Noto Looped Thai;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

#username {
    color: #000;
    font-family: Noto Looped Thai;
    font-size: 20px;
    padding-top: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#carouselParent {
    width: 60%;
    height: 60px;
    padding: 10px;
}

#carouselMain {
    width: 100%;
    margin: auto;
    height: 400px;
    background-color: rgb(192, 191, 191);

}

#carouselMain>img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#carouselButtons {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 5px;
}

.carouselImg>img {
    width: 180px;
    height: 8%;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    border: 2px solid black;
}

.carouselImg{
    display: flex;
    margin-top: 3%;
    width: 90%;
    height: 60em;
}

#rightarrow {
    border: 2px solid #F04C43;
    border-radius: 100%;
    width: 20px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    position: relative;
    top: 50px;
    left: 20px;
}

#leftarrow {
    border: 2px solid #F04C43;
    border-radius: 100%;
    width: 20px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    position: relative;
    top: 50px;
    right: 20px;
}

#section1 {
    display: flex;
    height: 550px;
    justify-content: space-between;
}

.package {
    width: 100%;
    height: fit-content;
    background-color: #F8F7F7;
    border: 2px solid #F04C43;
    margin-bottom: 30px;
}

#packageType {
    width: 100%;
    display: flex;
}

#packageType>div {
    width: 33.33%;
    text-align: center;
    height: 60px;
    border-bottom: 1px solid #F04C43;
    border-right: 1px solid #F04C43;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9F9090;

    font-family: Noto Looped Thai;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#packageType>div:hover {
    background-color: #F04C43;
    color: #fff;
    cursor: pointer;
}


#packageInner {
    padding: 20px;
    width: 90%;
    margin: auto;
    height: fit-content;
}

#projectDetails {
    display: flex;
    justify-content: space-between;
}

#desc {
    color: #000;
    margin-top: 30px;
    font-family: Noto Looped Thai;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#element {
    margin-top: 35px;
    padding: 10px;
}

.element {
    display: flex;
    color: #000;
    align-items: center;
    font-family: Noto Looped Thai;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;
}

#buttons>button {
    width: 45%;
    height: 45px;
    border: none;
    color: #F8F7F7;
    box-shadow: 6px 8px 8.4px -4px rgba(0, 0, 0, 0.25);

}

.continueButton {
    width: 100%;
    height: 100%;
    background-color: #F04C43;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #FFF;
    font-family: Noto Looped Thai;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.compareButton {
    width: 100%;
    height: 100%;
    background-color: #9F9090;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #FFF;
    font-family: Noto Looped Thai;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.continueButton:hover {
    background-color: #9F9090;
    color: black
}

.compareButton:hover {
    background-color: #F04C43;

}

.contactCard {
    width: 93%;
    height: fit-content;
    background-color: #F8F7F7;
    border: 2px solid #F04C43;
    margin-bottom: 30px;
    padding: 20px;
}

.contactCard:hover {
    cursor: pointer;
}

.contact {
    background-color: #F04C43;
    width: 80%;
    padding: 20px;
    margin: auto;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    font-family: Noto Looped Thai;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.contact>svg {
    margin-top: 10px;
}

.right {
    width: 30%;
    height: fit-content;

}

#expandContactMe {
    visibility: hidden;
    background-color: #F7F7F7;
    width: 80%;
    height: fit-content;
    box-shadow: 6px 8px 8.4px -4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 10px;
    padding: 5px;
    position: relative;
    top: -60px;
    margin: auto;
    padding: 20px;
}

#expandContactMe>h2 {
    color: #F04C43;
    margin-bottom: 20px;
}

#expandContactMe>div {
    display: flex;
    width: 80%;
    margin: auto;
    color: #000;
    margin-bottom: 20px;
    font-family: Noto Looped Thai;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: space-between;
}

#expandContactMe>div>svg {
    margin-top: 10px;
}

.aboutParent {
    width: 60%;
    height: fit-content;
    padding: 10px;
}

.aboutMain {
    height: 100%;
    width: 100%;
}

.aboutMainFirstPart>p {
    padding-top: 5px;
    padding-left: 10px;
    width: 666px;
    height: fit-content;
    flex-shrink: 0;
    color: #000;
    font-family: Noto Looped Thai;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.innerHeading {
    padding-top: 15px;
    padding-left: 10px;
    color: #000;
    font-family: Noto Looped Thai;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.aboutMainFirstPart>ul {
    position: relative;
    right: -3.5%;
    width: 666px;
    height: fit-content;
    flex-shrink: 0;
}

.aboutMainFirstPart>ul>li>p {
    list-style: disc;
    /* padding-left: 10px; */
    color: #000;
    font-family: Noto Looped Thai;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line {
    margin-top: 20px;
    height: 1px;
    width: 666px;
    background: #000;
}

.floatDiv {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 10px;
}

.sideBySide>ul>li {
    padding-left: 10px;
    padding-bottom: 3px;
    list-style: none;
}

.contactMeButton {
    position: absolute;
    left: 39.5vw;
    border-radius: 4px;
    background: #F04C43;
    box-shadow: 2px 2px 2.6px 0px rgba(0, 0, 0, 0.25);
    width: 150px;
    height: 7vh;
    background-color: #F04C43;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #FFF;
    font-family: Noto Looped Thai;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.aboutMeBoxOne {
    position: relative;
    margin-top: 3%;
    border: 1px solid #E0E0E0;
    height: fit-content;
    width: 636px;
    padding: 10px;
}

.aboutMeBoxTwo {
    position: relative;
    margin-top: 10px;
    left: -1.6%;
    border-top: 1px solid #E0E0E0;
    height: fit-content;
    width: 635px;
    padding: 10px;

}

.aboutMeBoxOne>p {
    color: #000;
    font-family: Noto Looped Thai;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutMeBoxTwo>p {
    padding: 10px;
    color: #000;
    font-family: Noto Looped Thai;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.portfolioParent {
    width: 40%;
    height: fit-content;
    padding: 10px;
}

.portfolioMain {
    height: 200px;
    width: 100%;
}

.portfolioImg {
    display: flex;
    width: 100%;
    height: 60em;
    /* margin: auto; */
    /* padding: 25px; */
}

#seeAll {
    position: relative;
    text-align: end;
}

#seeAllButton{
    background: none;
    border: none;
    font-size: medium;
}

.portfolioImg>img {
    width: 150px;
    height: 8%;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    border: 2px solid black;
}

.recommendation {
    background: #ECECEC;
}

.starRating{
    margin-left: 2%;
    margin-top: 2%;

}

.sideBySide>div>img {
    display: flex;
    margin: auto;
    /* justify-content: center; */
    height: 10em;
    padding-right: 10px;
    padding-bottom: 3px;
}

.aboutRecommendation {
    margin-left: 10px;
}

#level {
    padding: 3px;
    margin-left: 40%;
}

#money {
    margin-top: 2%;
    padding: 5px;
    margin-left: 30%;
    color: #9e2525;
    font-family: Noto Looped Thai;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.faqParent {
    width: 40%;
    height: fit-content;
    padding: 10px;
    margin-top: 200px;
}

.faqMain {
    height: 200px;
    width: 100%;
}

#faq {
    height: 3em;
    padding-top: 15px;
    padding-left: 20px;
}

#arrow {
    margin-left: 50%;
}

.ratingParent {
    width: 40%;
    height: fit-content;
    padding: 10px;
}

.ratingMain {
    height: fit-content;
    width: 100%;
}

#ratingDiv {
    width: 219px;
    height: 8px;
    border-radius: 4px;
    background: #D9D9D9;
}

#ratingBar {
    width: 137px;
    height: 8px;
    border-radius: 4px;
    background: #F04C43;
}

.reviewParent {
    width: 40%;
    height: fit-content;
    padding: 10px;
}

.reviewMain {
    height: fit-content;
    width: 100%;
}

.moreReviewButton{
    position: relative;
    left: 32vw;
    border-radius: 4px;
    background: #F04C43;
    /* box-shadow: 2px 2px 2.6px 0px rgba(162, 161, 161, 0.25); */
    width: 150px;
    height: 5vh;
    background-color: #F04C43;
    text-align: center;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    color: #FFF;
    font-family: Noto Looped Thai;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

