@font-face {
    font-family: 'Noto looped Thai';
    src: url('../../../public/fonts/Noto_Sans_Thai_Looped/NotoSansThaiLooped-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }


*{
    margin: 0;
    padding: 0;
}


.heading{
    margin: 30px;
    color: #F04C43;
    font-family: Noto looped Thai;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: auto;
}

.cardGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Maximum 4 items in a row, with a minimum width of 100px for each item */
    grid-gap: 50px; 
}