*{
    margin: 0;
    padding: 0;
}

.card{
    width: 300px;
    margin: 15px;
    padding: 10px;
    height: fit-content;
    background-color: #ECECEC;

}

.cardImage{
  width: 95%;
  margin: auto;
  background-size: cover;
}


.cardImage > img{
    width: 100%;
}

.card > h4{
margin: 10px;
font-size: 20;
font-weight: bold;
}

.card > p{
    margin: 10px;
    font-size: 18;
    font-weight: 600;
}